.btn-primary{
    background-color: #37a5af !important; /* Blanc cassé */
    border-color: #7af4ff !important;
    
    transition: transform 0.3s ease-in-out;
}
.btn-primary:hover {
    transform: scale(1.1) !important;
    background-color: #44c4cf !important; /* Couleur légèrement plus foncée pour l'effet de survol */
    border-color: #7af4ff !important;
}
h2{
    color: #44c4cf;
    
    margin-bottom: 20px;
}
